{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 50.458,
        "longitude": 30.5303,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home Assistant",
        "time_zone": "Europe/Kiev",
        "external_url": null,
        "internal_url": null
    }
}